@model List<ControlEnvios.Models.ModeloEnvio>
@using ControlEnvios.Models
@using ControlEnvios.Resources

<style type="text/css">
    .danger {
        background-color:#ff6a00 !important;
    }
    .my-custom-scrollbar {
        position: relative;
        height: 300px;
        overflow: auto;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
    .titulo-ventana-color {
       color:#000000 !important;
    }


</style>

<div class="modal fade" id="ModalWindows" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title w-100 font-weight-bold">Informacion.</h3>
                <button type="button" data-dissmiss="modal" class="close" arial-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>¿Está seguro de cancelar el envío?.</h3>
            </div>
            <div class="modal-footer">
                <a id="btnSiCancelarEnvio" class="btn btn-success btn-paysheetreviewrequest">Si</a>
                <buttom id="btnCerrarModalWindows" class="btn btn-default" data-dismiss="modal">No</buttom>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row text-center header-holidayleave">
        <h3 class="sitetitle mt-0 titulo-ventana-color">@Envios.TituloEnvioMercancia Comunicados o en Bascula</h3>
    </div>
    <!------->
    @if (Model.Count > 0)
    {
       
        decimal acumuladorKilosComunicados = 0;
        decimal acumuladorKilosPesados = 0;
        decimal kilosCancelados = 0;

        <div class="row text-center mt-30 table-wapper-scroll-y my-custom-scrollbar">
            <table class="table table-responsive table-hover tableEnvios" id="tableVerEnvios">
                <thead>
                    <tr>
                        <th align="left">@Envios.CodProvEnvio</th>
                        <th align="left">@Envios.Proveedor</th>
                        <th>@Envios.MatriculaEnvio</th>
                        <th>@Envios.ArticuloEnvio</th>
                        <th>@Envios.FechaEnvio</th>
                        <th>@Envios.HoraEnvio</th>
                        <th>@Gestor.HoralSal</th>
                        <th>@Envios.EnvCom</th>
                        <th>@Envios.PesadaNeto</th>
                        <th>@Gestor.BalsaG</th>
                        <th>@Gestor.BalsaP</th>
                        <th>Observ.</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Env in Model)
                    {
                        string _strEstadoEnvio = string.Empty;  
                        if (Env.EstadoEnvio == 1 || Env.EstadoEnvio == 2)
                        {
                            <tr>
                                <td align="left" data-title="Cod.Proveedor :">@Env.CodProveedor</td>
                                <td align="left" data-title="Proveedor :">@Env.NomProveedor</td>
                                <td align="left" data-title="Matricula : ">@Env.Matricula</td>
                                <td align="left" data-title="Articulo : ">@Env.NombreArticulo</td>
                                <td align="left" data-title="Fecha Envio :">@Env.FechaEnvio.ToString()</td>
                                <td align="left" data-title="Hora Envio :"> @Env.HoraEnvio.ToString()</td>
                                <td align="left" data-title="Hora Salida :"> @Env.HoraSalida.ToString()</td>
                                <td align="left" data-title="Kilos Com :">@Math.Truncate(Convert.ToDecimal(Env.KilosEnviados)).ToString()</td>
                                <td align="left" data-title="Neto :">@Math.Truncate(Convert.ToDecimal((Env.PesoBascula == "" ? "0" : Env.PesoBascula))).ToString()</td>
                                @{
                                    string balsaG = string.Empty;
                                    string balsaP = string.Empty;

                                    if (Env.BasculaG == null && Env.BasculaP == null)
                                    {
                                        balsaG = "No";
                                        balsaP = "No";

                                    }
                                    else if (Env.BasculaG == true && Env.BasculaP == false)
                                    {
                                        balsaG = "Si";
                                        balsaP = "No";
                                    }
                                    else
                                    {
                                        balsaG = "No";
                                        balsaP = "Si";
                                    }

                                    string resultado = string.Empty;
                                    if (string.IsNullOrEmpty(Env.Observaciones))
                                    {
                                        resultado = "NO HAY OBSERVACIONES";
                                    }
                                    else
                                    {
                                        resultado = Env.Observaciones;
                                    }

                                }
                                <td align="left" data-title="Bascula Grande :">@balsaG</td>
                                <td align="left" data-title="Bascula Pequeña :">@balsaP</td>
                                <td align="left" data-title="Observaciones :">@resultado</td>
                                @{

                                    switch (Env.EstadoEnvio)
                                    {
                                        case 1:
                                            _strEstadoEnvio = "Comunicado";
                                            break;
                                        case 2:
                                            _strEstadoEnvio = "En Bascula";
                                            break;

                                    }

                                  }
                                <td align="left" data-title="Estado">
                                    @_strEstadoEnvio
                                </td>
                                <td align="left" data-title="Acciones :">
                                    @*<a href="javascript:void(0);" class="btnEdit" id="@Env.id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        <a href="javascript:void(0);" class="btnDelete" id="@Env.id"><i class="fa fa-times" aria-hidden="true"></i></a>*@
                                    <a href="javascript:void(0);" class="btnView" id="@Env.id"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    @{
                                        if (Env.EstadoEnvio == 1) // se muestra el icono cuando solamente es enviado
                                        {
                                            <a href="javascript:void(0);" class="btnSendCancel" id="@Env.id"><i class="fa fa-archive" aria-hidden="true"></i></a>
                                        }

                                    }
                                </td>

                            </tr>
                            
                                acumuladorKilosComunicados += Convert.ToDecimal(Env.KilosEnviados);
                            

                        }


                     }
                </tbody>
            </table>
        </div>

        <div class="row text-center header-holidayleave">
            <h3 class="sitetitle mt-0 titulo-ventana-color">Envios de Mercancia Pesados o Devueltos</h3>
        </div>

        <div class="row text-center mt-30 table-wapper-scroll-y my-custom-scrollbar">
            <section id="no-more-tables">
                <table class="table table-responsive table-hover" id="tableVerEnviosCanceladosEnviados">
                    <thead>
                        <tr>
                            <th align="left">@Envios.CodProvEnvio</th>
                            <th align="left">@Envios.Proveedor</th>
                            <th>@Envios.MatriculaEnvio</th>
                            <th>@Envios.ArticuloEnvio</th>
                            <th>@Envios.FechaEnvio</th>
                            <th>@Envios.HoraEnvio</th>
                            <th>@Gestor.HoralSal</th>
                            <th>@Envios.EnvCom</th>
                            <th>@Envios.PesadaNeto</th>
                            <th>@Gestor.BalsaG</th>
                            <th>@Gestor.BalsaP</th>
                            <th>Observ.</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Env in Model)
                         {
                                        if (Env.EstadoEnvio == 3 || Env.EstadoEnvio == 4)
                                        {
                                            string _strEstadoEnvio = string.Empty;
                                            string CadenaCss = string.Empty;
                                            if (Env.EstadoEnvio == 4)
                                            {
                                                CadenaCss = "danger";
                                            }
                                            else if (Env.EstadoEnvio == 3)
                                            {
                                                CadenaCss = "success";
                                            }

                                             <tr class="@CadenaCss">
                                            <td align="left" data-title="Cod.Proveedor :">@Env.CodProveedor</td>
                                            <td align="left" data-title="Proveedor :">@Env.NomProveedor</td>
                                            <td align="left" data-title="Matricula : ">@Env.Matricula</td>
                                            <td align="left" data-title="Articulo : ">@Env.NombreArticulo</td>
                                            <td align="left" data-title="Fecha Envio :">@Env.FechaEnvio.ToString()</td>
                                            <td align="left" data-title="Hora Envio :"> @Env.HoraEnvio.ToString()</td>
                                            <td align="left" data-title="Hora Salida :"> @Env.HoraSalida.ToString()</td>
                                            <td align="left" data-title="Kilos Com :">@Math.Truncate(Convert.ToDecimal(Env.KilosEnviados)).ToString()</td>
                                            <td align="left" data-title="Neto :">@Math.Truncate(Convert.ToDecimal((Env.PesoBascula == "" ? "0" : Env.PesoBascula))).ToString()</td>
                                        @{
                                            string balsaG = string.Empty;
                                            string balsaP = string.Empty;

                                            if (Env.BasculaG == null && Env.BasculaP == null)
                                            {
                                                balsaG = "No";
                                                balsaP = "No";

                                            }
                                            else if (Env.BasculaG == true && Env.BasculaP == false)
                                            {
                                                balsaG = "Si";
                                                balsaP = "No";
                                            }
                                            else
                                            {
                                                balsaG = "No";
                                                balsaP = "Si";
                                            }

                                            string resultado = string.Empty;
                                            if (string.IsNullOrEmpty(Env.Observaciones))
                                            {
                                                resultado = "NO HAY OBSERVACIONES";
                                            }
                                            else
                                            {
                                                resultado = Env.Observaciones;
                                            }

                                        }
                                            <td align="left" data-title="Bascula Grande :">@balsaG</td>
                                            <td align="left" data-title="Bascula Pequeña :">
                                                @balsaP
                                            </td>

                                            <td align="left" data-title="Observaciones :">@resultado</td>
                                            @{

                                                switch (Env.EstadoEnvio)
                                                {
                                                    case 3:
                                                        _strEstadoEnvio = "Pesado";
                                                        break;
                                                    case 4:
                                                        _strEstadoEnvio = "Cancelado";
                                                        break;
                                                }

                                            }
                                            <td align="left" data-title="Estado">
                                                @_strEstadoEnvio
                                            </td>
                                            <td align="left" data-title="Acciones :">
                                                @*<a href="javascript:void(0);" class="btnEdit" id="@Env.id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                <a href="javascript:void(0);" class="btnDelete" id="@Env.id"><i class="fa fa-times" aria-hidden="true"></i></a>*@
                                                <a href="javascript:void(0);" class="btnView" id="@Env.id"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                @{
                                                    if (Env.EstadoEnvio == 3)
                                                    {
                                                        //descontamos los kilos que se ha cancelado del peso total
                                                        acumuladorKilosPesados += Convert.ToDecimal(Env.PesoNetoProveedor);

                                                    }
                                                    else if(Env.EstadoEnvio == 4)
                                                    {
                                                        kilosCancelados  += Convert.ToDecimal(Env.KilosEnviados) * (-1);
                                                    }
                                                }
                                    </td>
                                </tr>
                                acumuladorKilosPesados += Convert.ToDecimal(Env.PesoBascula == "" ? 0  : Convert.ToInt32(Env.PesoBascula));
                            }

                           
                        }
                        @{ 
                            acumuladorKilosComunicados = acumuladorKilosComunicados - kilosCancelados;
                        }
                       
                    </tbody>
                </table>
            </section>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6 col-md4-offset-6">
                <p><h3>Total Kilos Comunicados: @Math.Truncate(acumuladorKilosComunicados)</h3></p>
            </div>
            <div class="col-md-6">
                <p><h3>Total Kilos Pesados: @Math.Truncate(acumuladorKilosPesados)</h3></p>
            </div>
        </div>
    }
    else
    {
        <div class="text-center"><h3>No se ha encontrado resultados.</h3></div>
    }
</div>
<div class="row text-center mg-25">
    <div class="form-horizontal form-group">
        <!-- Button -->
        <div class="col-sm-12 controls log-sec">
            <input type="button" value="Volver a Consultar" id="btnAdd" class="btn btn-success btn-paysheetreviewrequest" />
        </div>
    </div>
</div>
