@model List<ControlEnvios.Models.ModeloEnvio>
@using ControlEnvios.Resources

    <div class="modal fade" id="btnEliminarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title w-100 font-weight-bold">Informacion.</h3>
                <button type="button" data-dissmiss="modal" class="close" arial-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>¿Está seguro de eliminar el envío?.</h3>
            </div>
            <div class="modal-footer">
                <a id="btnEliminar" class="btn btn-success btn-paysheetreviewrequest">Eliminar</a>
                <button id="btnCancelarModal"  class="btn btn-default" data-dissmiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>



<div>
    <div class="row text-center">
        <h3 class="expense-title mt-0">Envios Realizados</h3>
    </div>

    @if (Model.Count > 0)
    {


        <div class="row text-center mt-0">
            <section id="no-more-tables">
                <table  class="table table-responsive table-hover" id="tableVerEnvios">
                    <thead>
                        <tr>
                            <th>@Envios.CodProvEnvio</th>
                            <th>@Envios.MatriculaEnvio</th>
                            <th>@Envios.ArticuloEnvio</th>
                            <th>@Envios.FechaEnvio</th>
                            <th>@Envios.HoraEnvio</th>
                            <th>@Envios.KilosEnvio</th>
                            <th>Estado Envio</th>
                            <th>Peso Neto</th>
                            <th>Observaciones</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Env in Model)
                        {
                            string _strEstadoEnvio = string.Empty;
                            string CadenaCss = string.Empty;
                            if (Env.EstadoEnvio == 4)
                            {
                                CadenaCss = "danger";
                            }
                            else if (Env.EstadoEnvio == 3)
                            {
                                CadenaCss = "warning";
                            }
                            <tr class="@CadenaCss">
                                <td  align="left" data-title="Cod.Proveedor :">@Env.CodProveedor</td>
                                <td align="left" data-title="Matricula : ">@Env.Matricula</td>
                                <td  align="left" data-title="Artículo : ">@Env.NombreArticulo</td>
                                <td  align="left" data-title="Fecha Envio :">@Env.FechaEnvio.ToString()</td>
                                <td  align="left" data-title="Hora Envio :"> @Env.HoraEnvio.ToString()</td>
                                <td  align="left" data-title="Kilos Enviados :">@Math.Truncate(Convert.ToDecimal(Env.KilosEnviados.ToString())).ToString()</td>
                                @switch(Env.EstadoEnvio)
                                {
                                    case 1:
                                        _strEstadoEnvio = "Comunicado";
                                        break;
                                    case 2:
                                        _strEstadoEnvio = "En Báscula";
                                        break;
                                    case 3:
                                        _strEstadoEnvio = "Pesado";
                                        break;
                                    case 4:
                                        _strEstadoEnvio = "Cancelado";
                                        break;
                                }
                                <td align="left" data-title="Estado Envio" :>@_strEstadoEnvio</td>
                                <td align="center" data-title="Peso Neto" :>@Math.Truncate(Convert.ToDecimal(Env.PesoNetoProveedor.ToString())).ToString()</td>
                                <td align="left" data-title="Observaciones :">@Env.Observaciones</td>
                                <td  align="left" data-title="Acciones :">
                                    <div class="row">
                                        @if(Env.EstadoEnvio == 1)
                                        { 
                                            <div class="col-xs-2">
                                                <a href="javascript:void(0);" class="btnEdit" id="@Env.id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="col-xs-2">
                                                <a href="javascript:void(0);"  class="btnDelete" id="@Env.id"><i class="fa fa-times" aria-hidden="true"></i></a>
                                           
                                            </div>
                                        }
                                        <div class="col-xs-2">
                                            <a href="javascript:void(0);" class="btnView" id="@Env.id"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                   
                                   
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </section>
        </div>
    }
    else
    {
        <div class="text-center"><h3>No se ha encontrado resultados para ese rango de fechas.</h3></div>
    }
</div>
<div class="row text-center mg-25">
    <div class="form-horizontal form-group">
        <!-- Button -->
        <div class="col-sm-12 controls log-sec">
            <input type="button" value=@Envios.Create id="btnAdd" class="btn btn-success btn-paysheetreviewrequest" />
        </div>
    </div>
 
</div>
<div class="row text-center mg-25">
    <div class="form-horizontal form-group">
        <!-- Button -->
        <div class="col-sm-12 controls log-sec">
            <a href="@Url.Action("Index","Home")" class="btn btn-success btn-paysheetreviewrequest">@Envios.Atras</a>
        </div>
    </div>

</div>


