<!DOCTYPE html>
@{ 
    var controller = ViewContext.RouteData.Values["controller"].ToString();
}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
</head>
<body class="dual-sidebar">
    @Scripts.Render("~/bundles/jquery")
    @Html.Partial("_Header", controller)


    <div class="all-elements">
        <div class="snap-drawers">

            @*@Html.Partial("_LoginPartial", controller)*@
            <div id="content" class="snap-content @(controller == "Home" ? "bg-home" : "")">
                <div class="container">
                    @RenderBody()
               </div>
                @Html.Partial("_Footer")
            </div>
            <a href="#" class="back-to-top-badge"><i class="fa fa-caret-up"></i>Atras</a>
        </div>
    </div>
    <div id="footer-fixed" class="footer-menu footer-dark disabled"></div>


    <!-- Model for Document Acknowledgment  -->
   

    <!--Loading dialog -->
    <div id="loadingDiv" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body" id="">
                    <div class="waitMsg">
                        <b>
                            <center>
                                Procesando...
                            </center>
                        </b>
                    </div>
                    <div class="clear-both top-margin-10">
                        <center>
                            <img src='@Url.Content("~/images/preload.gif")' alt="Please Wait" />
                        </center>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        $("#wrapper").toggleClass("toggled");
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
